automated-daily-workflow-backup-to-github-#2-.json
{
  "updatedAt": "2026-01-03T21:08:02.809Z",
  "createdAt": "2026-01-03T19:28:56.487Z",
  "id": "Wgxgiau2GytzFhZj",
  "name": "Automated daily workflow backup to GitHub #2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "46d12685-1da6-4137-a202-983aa58ff966",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        800,
        416
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "74b4f5a8-e8a4-4e26-ae4c-39cdb2d16e0b",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1280,
        416
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "2qog5QJFxq6lZt7c",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "727d417e-2834-4e07-b8c7-958ecaacbe9c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1120,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "=meetpairwell-eng"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/meetpairwell-eng/n8n-backups"
        },
        "filePath": "="
      },
      "id": "ba186cd0-0d0d-40cd-a3da-6c87518ed14a",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        960,
        416
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "6WdEClMBTILVHYrZ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "meetpairwell-eng",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/meetpairwell-eng/n8n-backups"
        },
        "filePath": "={{ $node[\"Commit date & file name\"].json[\"fileName\"] }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "1d7ca253-ca32-4dea-b6c4-f1f0dd6c8828",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        2080,
        336
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "6WdEClMBTILVHYrZ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "meetpairwell-eng",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/meetpairwell-eng/n8n-backups"
        },
        "filePath": "={{ $node[\"Commit date & file name\"].json[\"fileName\"] }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "634ae334-b99b-45b1-bd30-6eed825b3386",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        2080,
        496
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "6WdEClMBTILVHYrZ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Commit date & file name\"].json[\"fileName\"] }}",
              "operation": "contains",
              "value2": "={{ $('Aggregate').first().json.name }}"
            }
          ]
        }
      },
      "id": "61ee5e51-8f82-4772-a1ef-29bb2ae03a07",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1920,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "0fa8fac7-8d65-4429-b9b5-6a4aa8bc767f",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1440,
        416
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "cb5e7ee1-1dd0-4a7b-b153-3f92be4db895",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1600,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "56a3fae1-5bee-4e58-ac40-52b2c0fafa9c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $node[\"Retrieve workflows\"].json[\"name\"].toLowerCase().replace(/\\s+/g, '-') }}-.json"
            }
          ]
        },
        "options": {}
      },
      "id": "98e63b9b-ae23-4943-b732-5bd13ca1c88a",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1760,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "d5799072-977d-4fcc-9705-bb23828aadd9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "d708d129-7dc5-4de5-9110-458760637250",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        288
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "10cf3193-5ac6-4590-97da-fc613c13ece1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-03T19:28:56.487Z",
      "createdAt": "2026-01-03T19:28:56.487Z",
      "role": "workflow:owner",
      "workflowId": "Wgxgiau2GytzFhZj",
      "projectId": "EwZFwcRPsRQcg8Kx"
    }
  ],
  "activeVersion": null,
  "tags": []
}