lead-capture-.json
{
  "updatedAt": "2025-12-30T02:22:52.847Z",
  "createdAt": "2025-12-29T20:57:42.675Z",
  "id": "R4kUsFYE10O51wh9",
  "name": "Lead Capture",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2bb0f23f-78d1-49ac-8ebe-324298dbe5ed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "03190545-84b3-431d-8997-195a9c0323c5",
      "name": "Webhook",
      "webhookId": "2bb0f23f-78d1-49ac-8ebe-324298dbe5ed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb20a07e-80ee-4aea-ad2f-0c2f7e894dd3",
              "name": "firstName",
              "value": "={{ $json.body.name.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "ee1b7f74-9b51-4d9c-9e97-3a9287ad961e",
              "name": "lastName",
              "value": "={{ $json.body.name.split(' ').slice(1).join(' ') }}",
              "type": "string"
            },
            {
              "id": "46ec6271-c787-46ae-84ae-73c6877305db",
              "name": "phoneClean",
              "value": "={{ $json.body.phone.replace(/\\D/g, '').replace(/^1?/, '+1') }}",
              "type": "string"
            },
            {
              "id": "2369ab2c-b77b-4280-af56-9f5022521005",
              "name": "agentNotes",
              "value": "={{ $json.body.extraInfo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4bf5418d-42e0-43a6-83d3-17731f21512e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EKtnQWrNE6mn_lFUx3Yr2NOqAifFvdTPW9t84z7eHyY",
          "mode": "list",
          "cachedResultName": "Pairwell Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EKtnQWrNE6mn_lFUx3Yr2NOqAifFvdTPW9t84z7eHyY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "RawData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EKtnQWrNE6mn_lFUx3Yr2NOqAifFvdTPW9t84z7eHyY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toFormat('MMM dd, yyyy - h:mm a') }}",
            "firstName": "={{ $json.firstName }}",
            "lastName ": "={{ $json.lastName }}",
            "Phone": "={{ $('Webhook').item.json.body.phone }}",
            "phoneClean": "={{ $json.phoneClean }}",
            "agentNotes": "={{ $('Webhook').item.json.body.extraInfo }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Location": "={{ $('Webhook').item.json.body.location }}",
            "homeType": "={{ $('Webhook').item.json.body.homeType }}",
            "Budget": "={{ $('Webhook').item.json.body.budget }}",
            "Timeline": "={{ $('Webhook').item.json.body.timeline }}",
            "lenderStatus": "={{ $('Webhook').item.json.body.lenderStatus }}",
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "SMSConsent": "={{ $('Webhook').item.json.body.smsConsent }}",
            "OptOut": "False"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName ",
              "displayName": "lastName ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneClean",
              "displayName": "phoneClean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "homeType",
              "displayName": "homeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timeline",
              "displayName": "Timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lenderStatus",
              "displayName": "lenderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agentNotes",
              "displayName": "agentNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SMSConsent",
              "displayName": "SMSConsent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OptOut",
              "displayName": "OptOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "fcb6e0ca-4ad2-4933-9f6f-19a0617f553d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOY4ptTaJww2LC2j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "meetpairwell@gmail.com",
        "subject": "Pairwell - New Lead 🚨",
        "message": "=You have a new lead! Here are the details. <br><br>\n\n<br><strong>First Name:</strong> {{ $('Edit Fields').item.json.firstName }}\n<br><strong>Last Name:</strong> {{ $('Edit Fields').item.json.lastName }}\n<br><strong>Phone:</strong> {{ $('Edit Fields').item.json.phoneClean }}\n<br><strong>Email:</strong> {{ $('Webhook').item.json.body.email }}\n<br><strong>Location:</strong> {{ $('Webhook').item.json.body.location }}\n<br><strong>Home Type:</strong> {{ $('Webhook').item.json.body.homeType }}\n<br><strong>Budget:</strong>{{ $('Webhook').item.json.body.budget }}\n<br><strong>Timeline:</strong> {{ $('Webhook').item.json.body.timeline }}\n<br><strong>Lender:</strong> {{ $('Webhook').item.json.body.lenderStatus }}\n<br><strong>Notes:</strong> {{ $('Edit Fields').item.json.agentNotes }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -176
      ],
      "id": "b5a6bdf1-89e4-4e0f-a669-9bf1b4dd41ad",
      "name": "Notification Email",
      "webhookId": "6f9fc73c-8113-4378-a98f-672843fc487d",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsAbfRmGUOzzryvM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "meetpairwell@gmail.com",
        "subject": "Welcome to Pairwell!",
        "message": "=<p>Hi {{ $json.firstName }},</p>\n\n<p>Thanks so much for reaching out — I’m excited to help you get connected with the right agent in <strong>{{ $json.Location }}</strong>.</p>\n\n<p>Whether you’re buying, selling, or just exploring your options, you deserve someone who’s not only experienced but also a great fit for you. At Pairwell, we match you with a top-performing agent who actually listens, communicates well, and knows your market inside and out.</p>\n\n<p>We’ll be reaching out shortly with a few quick questions to make sure we find the best possible match — nothing overwhelming, just enough to get it right.</p>\n\n<p>If you ever have questions or want to update anything, feel free to hit reply.</p>\n\n<p>Can’t wait to chat with you!</p>\n\n<br>\n<p>Best regards,</p>\n<p><strong>Hector Meza</strong><br>\nFounder, Pairwell<br>\n<a href=\"https://meetpairwell.com\" target=\"_blank\" style=\"color: #1d39ff; text-decoration: underline;\">meetpairwell.com</a></p>\n\n<br>\n<hr>\n<p style=\"font-size: 11px; color: #6B7280;\">\n    Don't want to receive these emails? \n    <a href=\"https://n8n.meetpairwell.com/webhook/unsubscribe?email={{ $json.email }}\">Unsubscribe</a>\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        16
      ],
      "id": "5d89cdda-fa40-4f11-a389-a0a9c9c3f6f4",
      "name": "Welcome Email ",
      "webhookId": "5e3becb6-7690-403c-832a-2ff9b9884645",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsAbfRmGUOzzryvM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        976,
        -80
      ],
      "id": "c221113a-bbe1-4fbc-8b0c-de2aef361237",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "nvfG2dOdB5C32sfv",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Welcome Email ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email ": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Append row in sheet": [
      {
        "json": {
          "date": "Dec 29, 2025 - 4:03 PM",
          "firstName": "Hector",
          "lastName ": "Meza",
          "Phone": "214 686 5641",
          "phoneClean": "+12146865641",
          "agentNotes": "None",
          "Email": "mezahector22@yahoo.com",
          "Location": "Dallas",
          "homeType": "Townhome",
          "Budget": "$500k - $750k",
          "Timeline": "3-6 Months",
          "lenderStatus": "I'm talking to a lender",
          "Name": "Hector Meza",
          "SMSConsent": true,
          "OptOut": "False"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "48ea5fe8-ce29-49a4-a13a-34522d3502ad",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-29T20:57:42.675Z",
      "createdAt": "2025-12-29T20:57:42.675Z",
      "role": "workflow:owner",
      "workflowId": "R4kUsFYE10O51wh9",
      "projectId": "EwZFwcRPsRQcg8Kx"
    }
  ],
  "activeVersion": null,
  "tags": []
}